<h1>Observable Con2 Chiamate API(User+post)</h1>
<button (click)="updateUser(1)">Load User 1</button>
<button (click)="updateUser(2)">Load User 2</button>

@if (isLoading()) {
  <p>Loading...</p>
}
@if (error()) {
  <p style="color: red">Error: {{ error() }}</p>
}
@if (userPosts$ | async; as userPosts) {
  <h2>User Posts</h2>
  <details>
    <summary>Debug User + Posts</summary>
    <pre>{{ userPosts.user | json }}</pre>
    <pre>{{ userPosts.posts | json }}</pre>
  </details>
  <h1>{{ userPosts.user?.name }}</h1>
  <ul>
    @for (post of userPosts.posts; track post.id) {
      <li>{{ post.title }}</li>
    }
  </ul>
}
